.page-footer {
    background: #00BAA3;
    color: #FFF;
    margin: -1rem;
    padding: 1rem;

    a {
        color: #FFF;
        opacity: 0.75;
        word-break: break-word;

        &:hover {
            opacity: 1;
        }
    }
}

.council-details {
    p:last-child {
        margin-bottom: 0;
    }

    span {
        margin-right: 0.5rem;
        white-space: nowrap;
    }
}

address {
    margin-bottom: 0;
}

@include media-breakpoint-up(sm) {
    .page-footer {
        margin: -2rem;
        padding: 2rem;
    }
}
