body {
  padding-top: 3.5rem;
}

hr {
  margin: 2rem 0;
}

.big-button {
  display: inline-block;
  position: relative;
  background: $white;
  font-size: 1.25rem;
  font-weight: bold;
  padding: 0.75rem 2rem;
  border-radius: 4px;
  box-shadow: $box-shadow;
  transition: 0.15s ease;

  &:hover {
    box-shadow: $box-raised-shadow;
    text-decoration: none;
    transform: translateY(-2px);

    .fa {
      border-right: 2px darken($gray-lighter, 10%) solid;
    }
  }

  &:active {
    transform: translateY(2px);
  }

  .fa {
    font-size: 1rem;
    margin-right: 0.5rem;
    border-right: 2px $gray-lighter solid;
    padding-right: 0.75rem;
  }
}

.main-background {
  padding: 2rem 0;
  background: $white;
  min-height: 500px;
}

.form-control:focus {
  border-color: $brand-primary;
}

.sr-only-focusable:focus {
  position: absolute !important;
  z-index: 10000;
  top: 0;
  left: 0;
  background: $brand-primary;
  color: $white;
  padding: 0.5rem;
}
