// Variables


// Colors
//
// Grayscale and brand colors for use across Bootstrap.

// Start with assigning color names to specific hex values.
$white:  #fff;
$black:  #000;
$red:    #e74c3c;
$orange: #e67e22;
$yellow: #f1c40f;
$green:  #2ecc71;
$blue:   #9E0057;
$teal:   #00E2C4;
$pink:   #ff5b77;
$purple: #613d7c;

// Create grayscale
$gray-dark:                 #292b2c;
$gray:                      #464a4c;
$gray-light:                #636c72;
$gray-lighter:              #eceeef;
$gray-lightest:             #f7f7f9;

// Reassign color vars to semantic color scheme
$brand-primary:             #9E0057;
$brand-success:             $green;
$brand-info:                $teal;
$brand-warning:             $orange;
$brand-danger:              $red;
$brand-inverse:             $gray-dark;


// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-rounded:            false;
$enable-shadows:            false;
$enable-gradients:          false;
$enable-transitions:        true;
$enable-hover-media-query:  false;
$enable-grid-classes:       true;
$enable-print-styles:       true;

// Body
//
// Settings for the `<body>` element.

$body-bg:       #F1F2F3;
$body-color:    $gray-dark;
$inverse-bg:    $gray-dark;
$inverse-color: $gray-lighter;


// Links
//
// Style anchor elements.

$link-color:            $brand-primary;
$link-decoration:       none;
$link-hover-color:      darken($link-color, 15%);
$link-hover-decoration: underline;


// Fonts
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif: Interface, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
$font-family-serif:      Georgia, "Times New Roman", Times, serif;
$font-family-monospace:  Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-base:       $font-family-sans-serif;
