// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

// Global
@import "global";

// Modules
@import "header";
@import "sidebar";
@import "about";
@import "booth";
@import "results";
@import "placeholder";
@import "footer";
@import "animations";
@import "languages";
